* {
  box-sizing: border-box;
}

.page-hero {
    background-color: var(--color-secondary);
    color: #fff;
    padding: 1rem 1rem;
    box-shadow: 3px 3px 5px 5px rgba(90, 126, 173, 0.6);
    text-align: center;
}

:root {
    --color-primary: #dd8604;
    --color-primary-hover: #111ed1;
    --color-secondary: #3eadc0;
}

body {
    margin: 0;
    font-size: 28px;
    font-family: system-ui;
}

#header {
 padding: 1rem; 
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
    gap: 0.1rem;
}

.nav .nav-link {
    color: var(--color-primary-hover);
    text-decoration: none;
    padding: 10px;
}
.nav .nav-link:hover {
    color: var(--color-primary);
}

.logo {
    width: 300px;
}